<div class="navbar-inner">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand visible-xs" href="#!/">
                home
            </a>
            <a class="navbar-brand visible-xs" href="#!/login">
                Login
            </a>
            <a class="navbar-brand visible-xs" href="#!/profile">
                Profile
            </a>
            <a class="navbar-brand visible-xs" href="#!/mail">
                Mail
            </a>
        </div>
    </div>
</div>